/* Big tablets to 1200px */
@media only screen and (max-width: 1200px) {
    .title-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0, 2%;
    }

    .on-road {
        margin-left: 2%;
    }

    h2:after {
        width: 90%;
    }

    .contact-form {
        margin-left: 2%;
    }

}

/* Small tables to big tablets: 768px to 1023px */
@media only screen and (max-width: 1023px) {

    body {
        font-size: 18px;
    }

    section {
        padding: 60px, 0;
    }

    .on-road {
        margin-left: 2%;
    }

    h2:after {
        width: 90%;
    }

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .find-box {
        margin-top: 10px;
    }

    .base {
        margin-bottom: 40px;
    }

    .base:last-child {
        margin-top: 10px;
    }

    .base:last-of-type {
        margin-bottom: 60px;
    }

    .merch-feature {
        font-size: 90%;
    }

    .plan-box {
        width: 100%;
        margin-left: 0%;
    }

    .plan-price {
        font-size: 250%;
    }

    .contact-form {
        width: 80%;
    }

    textarea {
        width: 500px;
    }
}

/* Small smartphones to small tablets:481px to 767px */
@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    section {
        padding: 30px 0;
    }

    .row,
    .title-text-box {
        padding: 0 4%;
    }

    .col {
        width: 100%;
        margin: 0 0 4% 0%;
    }

    .about-maya,
    .about-idem {
        margin-left: 10%;
    }

    .main-nav {
        display: none;
    }

    h1 {
        font-size: 180%;
    }

    h2 {
        font-size: 150%;
    }

    .long-copy {
        width: 100%;
        margin-left: 0%;
    }


    .base {
        margin-bottom: 40px;
    }

    .base:last-of-type {
        margin-bottom: 20px;
    }

    .find-box:first-child {
        text-align: center;
    }

    .on-road {
        width: 60%;
    }

    .base div {
        height: 40px;
        width: 40px;
        display: inline-block;
        text-align: center;
        padding: 4px;
        float: left;
        margin-right: 15px;
        font-size: 120%;
    }

    textarea {
        height: 200px;
        width: 300px;
    }


    .footer-space {
        margin-bottom: 0;
    }


    .footer-nav {
        text-align: center;
    }

    .social-links {
        margin-left: 10%;
        float: none;
        
    }


}

/* Small smartphones: 0 to 480px */
@media only screen and (max-width: 480px) {
    .section {
        padding: 25px 0;
    }

    .contact-form {
        width: 100%;
    }

    textarea {
        height: 250px;
        width: 250px;
    }
}
