/* Big tablets to 1200px */
@media only screen and (max-width: 1200px) {
    .title-text-box {
        width: 70%;
        padding: 0 2%;
    }

    .row {
        padding: 0, 2%;
    }

    .on-road {
        margin-left: 2%;
    }

    h2:after {
        width: 90%;
    }


}

/* Small tables to big tablets: 768px to 1023px */
@media only screen and (max-width: 1023px) {

    .tattoos-photos img,
    .flash-photos img {
        transform: scale(1.6);
    }

    .tattoos-photos img:hover,
    .flash-photos img:hover {
        transform: scale(1.06);
    }

    .title-text-box {
        width: 75%;
    }

    body {
        font-size: 18px;
    }

    section {
        padding: 60px, 0;
    }

    .on-road {
        margin-left: 2%;
    }

    h2:after {
        width: 90%;
    }

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .find-box {
        margin-top: 10px;
    }

    .base {
        margin-bottom: 40px;
    }
    
    .base p {
        text-align: center;
    }

    .base:last-child {
        margin-top: 10px;
    }

    .base:last-of-type {
        margin-bottom: 60px;
    }

    .merch-feature {
        font-size: 90%;
    }

    .plan-box {
        width: 100%;
        margin-left: 0%;
    }

    .plan-price {
        font-size: 250%;
    }

    .contact-form {
        width: 80%;
    }

    blockquote {
        text-align: center;
    }

}

/* Small smartphones to small tablets:481px to 767px */
@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    section {
        padding: 30px 0;
    }

    .row,
    .title-text-box {
        padding: 0 4%;
    }

    .col {
        width: 100%;
        margin: 0 0 4% 0%;
    }

    .about-maya,
    .about-idem {
        margin-left: 10%;
    }

    .mobile-nav-ico {
        display: inline-block;
    }

    .main-nav {
        float: left;
        margin-top: 8px;
        margin-left: 25px;
        padding: 5px 0;
    }

    .main-nav {
        display: none;
    }

    .main-nav li {
        display: block;
        margin: 0;
        font-size: 110%;
    }

    .main-nav a:link,
    .main-nav a:visited {
        display: block;
    }


    h1 {
        font-size: 180%;
    }

    h2 {
        font-size: 150%;
    }

    .long-copy {
        width: 100%;
        margin-left: 0%;
    }


    .base {
        margin-bottom: 40px;
    }

    .base:last-of-type {
        margin-bottom: 20px;
    }

    .find-box:first-child {
        text-align: center;
    }

    .on-road {
        width: 60%;
    }

    .base div {
        height: 40px;
        width: 40px;
        display: inline-block;
        text-align: center;
        padding: 4px;
        float: inherit;
        margin-left: 45%;
        font-size: 120%;
    }

    .base div:after {
        display: block;
        height: 2px;
        background-color: #d4141b;
        content: "";
        width: 20px;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 3px;
    }

    .find-ico {
        margin-left: 6px;
    }

    .base p {
        margin: 10px 0px 10px 10px;
    }

    .footer-space {
        margin-bottom: 0;
    }


    .footer-nav {
        text-align: center;
    }

    .social-links {
        margin-left: 10%;
        float: none;
        word-spacing: 20px;
    }

    .icon-big,
    .box h3 {
        margin-left: 45%;
    }

    .box p {
        text-align: center;
    }


    .btn-app-ig img {
        display: none;
    }

    /* sticky nav */

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
        padding: 10px 0;
    }

    .sticky .main-nav {
        margin-top: 10px;
        margin-left: 10px;
    }

    .sticky .mobile-ico {
        color: #555;
    }

    .sticky .mobile-nav-ico {
        margin-top: 10px;
    }
}

/* Small smartphones: 0 to 480px */
@media only screen and (max-width: 480px) {
    .section {
        padding: 25px 0;
    }

    .contact-form {
        width: 100%;
    }


}
